@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{
    var homepage = Model.AncestorOrSelf("home");
    var socialLinks = homepage.Value<IEnumerable<IPublishedElement>>("socialLinks");

}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    @if (socialLinks != null)
                    {
                        foreach (var item in socialLinks)
                        {
                            var link = item.Value<Link>("link");
                            var iconClass = item.Value<string>("iconClass");

                            <li class="list-inline-item">
                                <a href="@link.Url" target="@link.Target">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="@iconClass fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    }
                </ul>
                <p class="copyright text-muted">Copyright &copy; @Umbraco.GetDictionaryValue("Footer.CopyrightName")</p>
            </div>
        </div>
    </div>
</footer>