@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>

@{
 Layout = "master.cshtml";
}

<!-- Page Header -->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")

<!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          @Html.GetGridHtml(Model, "mainContent", "Blue")
        </div>
      </div>
    </div>
  </article>

