@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc


    @{
        Layout = "master.cshtml";

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();


        Html.RequiresJs("/Scripts/jquery-3.3.1.min.js");
        Html.RequiresJs("/Scripts/bootstrap.min.js");
        Html.RequiresJs("/Scripts/jquery.unobtrusive-ajax.min.js");
        Html.RequiresJs("/Scripts/jquery.validate.min.js");
        Html.RequiresJs("/Scripts/jquery.validate.unobtrusive.min.js");
        Html.RequiresJs("/Scripts/contactForm.js");
    }
<!-- Page Header -->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="hide-para">Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            @{ Html.RenderAction("RenderForm", "ContactSurface");}
        </div>
    </div>
</div>
