@inherits Umbraco.Web.Mvc.UmbracoViewPage


    @{
    Layout = "master.cshtml";
    }
<!-- Page Header -->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @*@Html.Partial("~/Views/Partials/Contact/contactForm.cshtml")*@
        </div>
    </div>
</div>
