@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc


    @{
        Layout = "master.cshtml";

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();


        Html.RequiresJs("/Scripts/jquery-3.3.1.min.js");
        Html.RequiresJs("/Scripts/bootstrap.min.js");
        Html.RequiresJs("/Scripts/jquery.unobtrusive-ajax.min.js");
        Html.RequiresJs("/Scripts/jquery.validate.min.js");
        Html.RequiresJs("/Scripts/jquery.validate.unobtrusive.min.js");
        Html.RequiresJs("/Scripts/contactForm.js");
    }
<!-- Page Header -->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           @{ Html.RenderAction("RenderForm", "ContactSurface");}
        </div>
    </div>
</div>
