@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Error>

@{
	Layout = "master.cshtml";
}

<!-- Page Header -->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")

<!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
         <h2>Page not found</h2>
        </div>
      </div>
    </div>
  </article>

